/**
 * Palette
 */
$default-green: #5cb85c;
$default-blue: #00a0f0;
$default-gray: #777;
$default-orange: #f0ad4e;
$default-red: #d9534f;
$default-white: #fff;

$light-blue: #5bc0de;
$dark-blue: #337ab7;